.btn.blue{
    background-color: var(--light-blue);
    // border: 1px solid var(--white);
    color: white;
    
}
.btn.blue:hover{
        background-color: var(--white);
        color: var(--dark);
}

.btn.blue-secondary{
    background-color: var(--light-blue);
    border: 1px solid var(--white);
    color: white;

}
.btn.blue-secondary:hover{
    background-color: var(--light-blue);
    color: var(--white);

}
